<div class="main-content">
    <div class="header-content employee-header">
      <div class="emp-detail-text">
        Employee Details
      </div>
        <button class="add-button" (click)="onAddUser()"><img src="" />Add User</button>
    </div>


    <div class="table-main">
      <table id="table-display" class="table">
        <tr>
          <th>Id</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Gender</th>
          <th>Profilepic</th>
          <th>Department</th>
          <th>Salary</th>
          <th>StartDate</th>
          <th>notes</th>
         </tr>
      </table>
    </div>
</div>